<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_vente_voiture">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/poule1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/poule0"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.projet_vente_voiture.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.GestionAbonnement"></activity>
        <activity android:name=".Activity.ModifProfil" />
        <activity android:name=".Activity.Statistiques" />
        <activity android:name=".Activity.Mes_annonces_sauvergardes" />
        <activity android:name=".Activity.MonProfil" />
        <activity android:name=".Activity.Mes_annonces" />
        <activity android:name=".Activity.Inscription" />
        <activity android:name=".Activity.Connexion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Ajouter_Annonce" />
        <activity android:name=".Activity.Detaille" />
        <activity android:name=".Activity.Recherche" />
    </application>

</manifest>